# Runtime dependencies
torch
diffusers
transformers
accelerate
safetensors
controlnet-aux
pillow
opencv-python
scikit-image
numpy
xformers
vtracer

# Development tools
black
ruff
basedpyright
mypy
pylint
vulture
deptry
isort
pyupgrade
pydocstyle
